 <!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                    53<sup style="font-size: 20px">%</sup>
                </h3>
                <p>
                    CPU
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-ios7-speedometer-outline"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    23<sup style="font-size: 20px">%</sup>
                </h3>
                <p>
                    Memory
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    44
                </h3>
                <p>
                    Containers Running
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-social-tux"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>
                    65
                </h3>
                <p>
                    Containers
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-inbox"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
</div><!-- /.row -->

<!-- Main row -->
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Job Status</h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>Detail</th>
                    </tr>
                    <tr>
                        <td>11-7-2014</td>
                        <td>3sec</td>
                        <td><span class="label label-success">Success</span></td>
                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                    </tr>
                    <tr>
                        <td>11-7-2014</td>
                        <td>12sec</td>
                        <td><span class="label label-primary">Running</span></td>
                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                    </tr>
                    <tr>
                        <td>11-7-2014</td>
                        <td>12sec</td>
                        <td><span class="label label-warning">Pending</span></td>
                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                    </tr>
                    <tr>
                        <td>11-7-2014</td>
                        <td>123sec</td>
                        <td><span class="label label-danger">Error</span></td>
                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                    </tr>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Containers</h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>Status</th>
                        <th>Name</th>
                        <th>HostName</th>
                        <th>IP Address</th>
                        <th>CPU</th>
                        <th>Memory</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><span class="label label-success">Running</span></td>
                        <td>test01</td>
                        <td>test01</td>
                        <td>10.0.3.123</td>
                        <td>
                            8%
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-success" style="width: 8%"></div>
                            </div>
                        </td>
                        <td>
                            15%
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-info" style="width: 15%"></div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm">start</button>
                            <button class="btn btn-primary btn-sm">stop</button>
                            <button class="btn btn-info btn-sm">freeze</button>
                            <button class="btn btn-warning btn-sm">unfreeze</button>
                            <button class="btn btn-danger btn-sm">destroy</button>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="label label-primary">Freeze</span></td>
                        <td>test02</td>
                        <td>test02</td>
                        <td>10.0.3.124</td>
                        <td>
                            18%
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-success" style="width: 18%"></div>
                            </div>
                        </td>
                        <td>
                            35%
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-info" style="width: 35%"></div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm">start</button>
                            <button class="btn btn-primary btn-sm">stop</button>
                            <button class="btn btn-info btn-sm">freeze</button>
                            <button class="btn btn-warning btn-sm">unfreeze</button>
                            <button class="btn btn-danger btn-sm">destroy</button>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="label label-danger">Error</span></td>
                        <td>test03</td>
                        <td>test03</td>
                        <td></td>
                        <td>
                            0%
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-success" style="width: 0%"></div>
                            </div>
                        </td>
                        <td>
                            0%
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-info" style="width: 0%"></div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm">start</button>
                            <button class="btn btn-primary btn-sm">stop</button>
                            <button class="btn btn-info btn-sm">freeze</button>
                            <button class="btn btn-warning btn-sm">unfreeze</button>
                            <button class="btn btn-danger btn-sm">destroy</button>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="label label-default">Stop</span></td>
                        <td>test04</td>
                        <td>test04</td>
                        <td></td>
                        <td>
                            0%
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-success" style="width: 0%"></div>
                            </div>
                        </td>
                        <td>
                            0%
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-info" style="width: 0%"></div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm">start</button>
                            <button class="btn btn-primary btn-sm">stop</button>
                            <button class="btn btn-info btn-sm">freeze</button>
                            <button class="btn btn-warning btn-sm">unfreeze</button>
                            <button class="btn btn-danger btn-sm">destroy</button>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="label label-default">Stop</span></td>
                        <td>test05</td>
                        <td>test05</td>
                        <td></td>
                        <td>
                            0%
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-success" style="width: 0%"></div>
                            </div>
                        </td>
                        <td>
                            0%
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-info" style="width: 0%"></div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm">start</button>
                            <button class="btn btn-primary btn-sm">stop</button>
                            <button class="btn btn-info btn-sm">freeze</button>
                            <button class="btn btn-warning btn-sm">unfreeze</button>
                            <button class="btn btn-danger btn-sm">destroy</button>
                        </td>
                    </tr>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div><!-- /.row (main row) -->
